mixin moveField(field, direction, isDisabled)
    form(action=`/field/move-${direction}/${field._id}` method="POST")
        button.btn.btn-info.ml-2(
            type="submit" 
            disabled=(isDisabled ? true: false)
        ) move #{direction}

mixin numInput(name, mode, field, useDecimals)
    input.form-control(
        id=name
        name=name
        type="number"
        min=(useDecimals ? "0.01" :"1")
        step=(useDecimals ? "0.01" : null)
        value=(mode !== 'adding' && field.config[name] ? field.config[name] : null)
    )